body {
  background-color: rgb(43, 40, 40);
  color: whitesmoke;
  font: normal 16px Roboto;
  padding: 40px 20px;
}

.title {
  color: blueviolet;
  font-size: 42px;
  font-weight: bold;
}

#area {
  align-items: center;
  background-color: aqua;
  border-radius: 3px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  height: 150px;
  justify-content: center;
  padding: 5px;
  width: 150px;
}

.wrp-input {
  padding: 5px;
  border-radius: 10px;
}

.input {
  padding: 10px;
  border-radius: 5px;
}

.btn {
  background-color: aqua;
  border-radius: 5px;
  border: solid 1px gray;
  color: black;
  font-weight: 600;
}

.res-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  padding-left: 10px;
}

.full-width {
  width: 100%;
}
